body {
	background-image: url(warna.jpg);
	background-size: 100%
}
table, td, th {
	width: 20%;
	border : 5px solid #4583EE;
	padding: 15px;
	margin: auto;
	background-color: white;
}
.header {
	text-align: center;
	color: black;
}
.foto {
	text-align: center;
}
.tulisan th {
	text-align: center;
}
.tulisan td {
	text-align: left;
}
.pjj {
	border: 5px solid #4583EE;
	padding: 20px;
	background-color: white;
	width : 75%;
	margin: auto;
}
.p {
	color: black;
	text-align: justify;
}
